<!-- Header Start -->
<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                      <i class="fa fa-bars"></i>
                  </button>
                  <a class="navbar-brand page-scroll" href="#slider">
                      <span class="light logo">PairData</span>
                  </a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                  <ul class="nav navbar-nav">
                      <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                      <li class="hidden">
                          <a href="#slider"></a>
                      </li>
                      <li>
                          <a class="page-scroll" href="#intro">About</a>
                      </li>
                      <li>
                          <a class="page-scroll" href="#feature">Our Process</a>
                      </li>
                      <li>
                          <a class="page-scroll" href="#service">Services</a>
                      </li>
                      <li>
                          <a class="typeform-share button" href="https://ken277.typeform.com/to/qaUWVc" data-mode="popup"  data-hide-headers=true data-hide-footer=true target="_blank">Contact Us</a><script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id="typef_orm_share",b="https://s3-eu-west-1.amazonaws.com/share.typeform.com/";if(!gi.call(d,id)){js=ce.call(d,"script");js.id=id;js.src=b+"share.js";q=gt.call(d,"script")[0];q.parentNode.insertBefore(js,q)}})()</script>
                      </li>
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
      </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
